{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cat-Fair site</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ang/styles.css' %}">

</head>
<body>
	<app-root></app-root>
	<script type="text/javascript" src="{% static 'ang/runtime.js' %}"></script>
	<script type="text/javascript" src="{% static 'ang/polyfills.js' %}"></script>
	<script type="text/javascript" src="{% static 'ang/main.js' %}"></script>
</body>
</html>